/## Copilot.md
/.vscode
/.vscode.code-workspace
/module_2.3.py
/my_list = [42, 69, 322, 13, 0, 99, -5, 9.py
/Proba.py
/repka.txt
/Test.py
/Test_module_2.3
/Test_module_2.py
/Test_Python
/Тест_Яндекс.py